/*Selector {
	Property: value;
}*/

* {
	text-align: right
}
body {
	background-image: url(nature.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	color: black;
	text-align: center;
	border: 5px dashed rgb(34, 32, 16);
	cursor: wait;
}

p {text-decoration: underline;
text-transform: uppercase;
line-height: 40px;
font-style: italic;
font-weight: bold;
font-size: 150%;
font-family:'Chilanka', cursive;
;}

p {
	color: blue;
}

/*cascading effect*/
p {
	color:darkblue;
}

img {float: left;}

.webtext:last-child {
	color: black;
	text-align: center;
	border: 5px dashed rgb(34, 32, 16);
	cursor: wait;
}

.active {
	border: 5px solid green;
}

#div1 { 
	background-color: green;
}

li {
	list-style: none;
	display: inline-block;
	color: white;
	font-size: 2em;

}